@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.filter {
  color: $white;
  display: grid;
  grid-template-columns: 15% 15% 15% 1fr 15%;
  grid-template-rows: repeat(3, 5rem);
  align-items: center;

  &__name {
    grid-column: 1/span 5;
    padding: 1rem 0 2rem 0;
  }

  &__input {
    height: 4rem;
    margin: 1rem 0;
    grid-column: 1/span 5;
    border-bottom: solid 1.5px $red;
  }

  &__list {
    display: flex;
    flex-flow: row;
  }

  &__item button {
    background-color: transparent;
  }

  &__item {
    height: 2.5rem;
    width: 10rem;
    border-radius: $button-radius;
    background-color: $grey;
    cursor: pointer;

    &-container {
      margin-left: 2rem;
    }

    &--selected {
      background-color: $red;
    }
  }

  &--title {
    margin: 1rem 0;
  }

  &__submit-button {
    justify-self: end;
    height: 3.5rem;
    width: 15rem;
    margin: 1rem 0;
    grid-row: 3/4;
    grid-column: 5/ 6;
    color: $white;
    background-color: $red;
  }
}
