$grid-movie-list-column-gap: 9rem;
$grid-movie-list-row-gap: 4rem;

.movie-list {
  margin: $grid-movie-list-row-gap $grid-movie-list-column-gap;
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  grid-gap: $grid-movie-list-row-gap $grid-movie-list-column-gap;
}
