@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.app-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, $grid-medium-gap) 1fr repeat(2, $grid-medium-gap);
  // grid-template-rows: 25.5rem 1fr 8.5rem;
  transition: all 3s;


  .header {
    // transition: height 3s;
    // &--appear-active {
    //   opacity: 0.1;
    // }

    &--enter {
    grid-column: 1/6;
    }

    &--enter-done {
    grid-column: 1/6;
    }

    &--enter-active {
      opacity: 1;
    }

    &--exit-active {
      opacity: .1;
    }

    .filter {
      margin: 0 $grid-medium-gap;
    }

    &__title {
      margin: 1.5rem 0 $grid-medium-gap/2 $grid-medium-gap;
      color: $red;
    }

    &__row {
      height: 4.7rem;
      padding: 0 $grid-medium-gap;
      display: flex;
      background-color: $milk;

      .search-result {
        z-index: 1;
      }
    }
  }

  .main {
    grid-column: 1/6;
    background-color: $white-medium;
  }

  .footer {
    grid-column: 1/6;
    grid-row: 3/4;

    background-color: $grey-strong;

    &__title {
      margin: $grid-medium-gap;
      color: $red;
    }
  }

  .movie-info{
    grid-column: 1/6;
  }

}
