@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.movie-info {
  padding: 2*$grid-medium-gap;
  display: grid;
  grid-column-gap: 2*$grid-medium-gap;
 

  &__description {
    grid-column: 2/span 1;
    display: flex;
    flex-flow: column wrap;

    color: white;
    &-text {
      padding-top: $grid-medium-gap;
      color: $grey-light;
    }
  }

  &__data {
    padding-top: $grid-medium-gap/2;
    font-weight: $bold-light;
  }

  &__title {
    color: $red;
    font-size: 2.4rem;
  }

  &__image {
    // width: 100%;
    grid-column: 1/span 1;
  }
}
